{
  "reporter": [
    "html",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.js",
    "**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.d.ts",
    "coverage/**",
    "node_modules/**"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true,
  "check-coverage": true,
  "cache": true,
  "all": true
}
