{
  "reporter": [
    "html",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true,
  "check-coverage": true,
  "cache": true
}
